project:
  type: website
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
website:
  title: "tidywigits"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: purple.qmd
        text: PURPLE
      - href: amber.qmd
        text: AMBER
  sidebar:
    style: "docked"
    search: true
    contents:
      - index.qmd
      - purple.qmd
      - amber.qmd
      # - bamtools.qmd